.container{
    margin-top: 2em;
    width: 100%;
    padding: 1em 0em 1em 0em;
}

#map {
    height: 400px;
}

#modal1 { 
    width: 75% !important ;
    height: 100% !important ;
}

#closeMenu{
    margin: 0em .5em 0em 0em;
    size: 2em !important;
}

#menu-toggle{
    margin: 0em 1em 0em 1em;
}